:root {
  --font-size--normal: 18px; 
  --font-size--small: 85%;
  --font-size--small--2: 85%;
}
html {font-size: 18px !important; }
h1 { font-size: 2.2rem !important; }
h2 { font-size: 1.8rem !important; margin-top: 4rem !important; }
h3 { font-size: 1.4rem !important; margin-top: 4rem !important; }
.admonition .admonition-content {font-size: var(--font-size--normal) !important;}
html body .admonition {font-size: var(--font-size--normal) !important;}
html body .admonition .admonition-content, html body .admonition p {
font-size: var(--font-size--normal) !important;
}
html body .admonition .admonition-title {
font-size: var(--font-size--normal) !important;
}

caption .caption-number::after, figcaption .caption-number::after {
content:": " !important;
}


.table-wrapper {
width:max-content !important;
max-width:100% !important;
margin-left:auto !important;
margin-right:auto !important;
display:block;
}

.table-wrapper table.docutils {
width:auto !important;
margin:0 !important;
}

/* list of links in footer */
ul.link-list {
padding:0 0 12px 0;
margin:0;
list-style:none;
}

ul.link-list li {
display: inline-block;
padding: 0 0 0 4px;
margin: 4px 0;
border-left: 1px solid;
}

ul.link-list li a {
padding: 4px;
}

.link-list li:first-child {
border-left: none;
padding-left: 0;
}

.custom-footer {
padding-bottom: 32px;
font-size: var(--font-size--normal);
}

.custom-footer hr, hr {
display: block !important;
border: 0 !important;
border-top: 1px solid #ccc !important;
margin: 36px 0 24px 0 !important;
width: 100% !important;
height: 1px !important;
}

.sidebar-brand img {
max-width: 48px;
height: auto;
}
